</br></br></br><div class="container">
  <div class="row">
    <span class="p-2 mb-1 bg-secondary">Item New</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= form_with model: @item, url: admin_items_path do |f| %>
    <table class="table table-borderless text-light">
      <thead></thead>
      <tbody>
        <tr>
          <td>Item image</td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>Introduction</td>
          <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><%= f.text_field :price %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "Registration", class: "btn btn-success" %></td>
        </tr>
      </tbody>
    </table>

    <% end %>

  </div>
</div>
