<div class="container">
  <div class="row">
    <span class="p-2 mb-1 bg-secondary">
      <%= @customers.last_name %>
      <%= @customers.first_name %> Customer information Edit
    </span>
  </div>
</div>
</br>
<div class="container">
  <div class="row">
    <table class="table table-borderless col-md-8 text-light">
      <thead></thead>
      <tbody>
        <tr>
          <td>CustomrID</td>
          <td><%= @customers.id %></td>
        </tr>
        <%= form_with model: @customers, url: admin_customer_path do |f| %>
        <tr>
          <td>Name</td>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>Postal code</td>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>Tel</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <td>Mail</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            <%= f.radio_button :customer_status, "true" %>
            <%= f.label :customer_status,"有効" %>
            <%= f.radio_button :customer_status, "false" %>
            <%= f.label :customer_status,"退会" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "Save", class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
