</br></br></br><div class="container">
  <div class="row">
    <span class="p-2 mb-3 bg-secondary">
      <%= @customers.last_name %>
      <%= @customers.first_name %>Customer Information
    </span>
  </div>
</div>
<div class="container">
  <div class="row">
    <table class="table table-borderless col-md-8 text-light">
      <thead></thead>
      <tbody>
        <tr>
          <td>Customer ID</td>
          <td>
            <%= @customers.id %>
          </td>
        </tr>
        <tr>
          <td>Name</td>
          <td>
            <%= @customers.last_name %>
            <%= @customers.first_name %>
          </td>
        </tr>
        <tr>
          <td>Postal code</td>
          <td><%= @customers.postal_code %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @customers.address %></td>
        </tr>
        <tr>
          <td>Tel</td>
          <td><%= @customers.telephone_number %></td>
        </tr>
        <tr>
          <td>Mail</td>
          <td><%= @customers.email %></td>
        </tr>
        <tr>
         <td>Status</td>
         <td><span style="color:<%= @customers.is_deleted ? 'gray' : 'green' %>;"><%= @customers.is_deleted ? '退会' : '有効' %></span></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "Edit", edit_admin_customer_path, class: "btn btn-success" %></td>
          <td><%= link_to "Order history", admin_root_path, class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
