</br></br></br>
<div class="container">
  <div class="row">
     <span class="p-2 mb-3 bg-secondary">Shopping Cart</span>
     <div class="text-right ml-auto">
       <%= link_to "Destroy All", public_cart_items_path, method: :delete, class: "btn btn-danger" %>
     </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <table class="table table-bordered text-light">
      <thead>
        <tr class="table-active">
          <th>Item</th>
          <th>Price(tax)</th>
          <th>Amount</th>
          <th>subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <% if cart_item.item.image.attached? %>
              <%= image_tag cart_item.item.image, size: "50×50" %>
            <% else %>
              <%= image_tag 'no_image', size: "50×50" %>
            <% end %>
            <%= cart_item.item.name %>
          </td>
          <td><%= cart_item.item.with_tax_price %></td>
          <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
          <%= f.hidden_field :cart_item_id, :value => cart_item.id %>
          <td>
            <%= f.select  :amount, *[1..10] %>
            <%= f.submit "Change", class: "btn btn-success" %>
          </td>
          <% end %>
          <td><%= cart_item.subtotal %></td>
          <% @total = @total+cart_item.subtotal %>
          <td><%= link_to "Delete", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
       </tbody>
    </table>
    <div class="text-right">
      <%= link_to "go shopping", public_root_path, class: "btn btn-primary" %>
    </div>

    <table class="table table-bordered col-3 ml-auto text-light">
      <thead></thead>
      <tbody>
        <tr>
          <td class="table-active">Total Price</td>
          <td>
            <%= @total %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center">
  <% if !@cart_items.empty? %>
   <%= link_to "Next", new_public_order_path, class: "btn btn-success" %>
  <% end %>
</div>
