</br></br>
<div class="container">
  <div class="row">
    <span class="bg-secondary p-1 mb-2">Order Detail</span>
  </div>
</div></br>
<div class="container">
  <div class="row">
      <div class="col-6">
             <h4 class="font-weight-bold">Information</h4>
             <table class="table table-bordered text-light">

                 <thead>
                 </thead>
                    <tbody>
                        <tr>
                            <th class="table-active">Day</th>
                            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                        </tr>
                        <tr>
                            <th class="table-active">Address</th>
                            <td>
                                <%= @order.postal_code %></br>
                                <%= @order.address %>
                                <%= @order.name %>
                            </td>
                        </tr>
                        <tr>
                            <th class="table-active">Payment Method</th>
                            <td><%= @order.payment_method_i18n %></td>
                        </tr>
                    </tbody>
            </table>
      </div>

        <div class="col-4 ml-auto">
            <h4 class="font-weight-bold">Price Information</h4>
            <table class="table table-bordered text-light">

                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th class="table-active">Item Price</th>
                        <td><%= @order.price - 100 %></td>
                    </tr>
                    <tr>
                        <th class="table-active">Postal Code</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th class="table-active font-weight-bold">Total Price</th>
                        <td><%= @order.price  %></td>
                    </tr>
                </tbody>
            </table>
        </div>


  </div>
</div></br></br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4 class="font-weight-bold">Content</h4>
            <table class="table table-bordered text-light">

                <thead>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th>Item</th>
                        <th>Price(tax)</th>
                        <th>Amount</th>
                        <th>Subtotal</th>
                    </tr>
                    <% @order.order_details.each do |order_detail| %>
                    <tr>
                        <td><%= order_detail.item.name %></td>
                        <td><%= order_detail.price %></td>
                        <td><%= order_detail.amount %></td>
                        <td><%= order_detail.subtotal %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

    </div>
</div>


