</br><div class="container">
    <table class="table table-borderless text-light">
      <thead class="col-6">
        <tr>
          <% if @items.image.attached? %>
            <%= image_tag @items.image, size: "200×200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200×200" %>
          <% end %>
        </tr>
      </thead>
      <tbody class="col-6 ml-auto">
        <tr class="ml-auto">
          <th><%= @items.name %></th>
        </tr>
        <tr>
           <% if @items.favorited_by?(current_customer) %>
            <p>
              <%= link_to public_item_favorites_path(@items), method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to public_item_favorites_path(@items), method: :post do %>
                <i class="far fa-heart"></i>
              <% end %>
            </p>
          <% end %>
        </tr>
        <tr>
          <td><%= @items.introduction %></td>
        </tr>
        <tr>
          <td>
            ￥ <%= @items.with_tax_price.to_s(:dalimited) %>(税込)
          </td>
        </tr>
        <%= form_with model: @cart_item,url: public_cart_items_path do |f| %>
        <tr>
          <%= f.hidden_field :item_id, :value => @items.id %>
          <td><%= f.select :amount, *[1..10], include_blank: "Amount" %></td>
          <td><%= f.submit "Cart", class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
